@font-face {
    font-family: 'FontAwesome';
    src: url('https://assassins-arms.com/gfx/pol/fontello.eot?r=1563359320');
    src: url('https://assassins-arms.com/gfx/pol/fontello.eot#iefix') format('embedded-opentype'), url('https://assassins-arms.com/gfx/pol/fontello.woff?r=1563359320') format('woff'), url('https://assassins-arms.com/gfx/pol/fontello.ttf?r=1563359320') format('truetype'), url('https://assassins-arms.com/gfx/pol/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
div.top_contact_bar {
    display: table;
    margin: 0 auto;
    height: 29px;
    width: 100%;
    position: relative;
}
.top_contact_data {
    display: table;
    text-align: left;
    vertical-align: middle;
    margin-left: 65px;
    margin-top: -2px;
}
.top_contact_data a{
    margin-right: 25px;
    margin-left: 8px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 9px;
    text-decoration: none;
}

.top_contact_bar:before{
    content: '';
    position: absolute;
    display: block;
    z-index: -5;
    background: #2e2e2e;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 300%;
}
.top_contact_phone{
    margin-right:2px;
}
.top_contact_phone:before{
    content: '\E819';
    font-family: FontAwesome;
    color: #b62323;
    margin-right: 5px;
}
.top_contact_mail{
    margin-right:2px;
}
.top_contact_mail:before {
    content: '\e816';
    font-family: FontAwesome;
    color: #b62323;
    margin-right: 5px;
}
.top_contact_fb{
    margin-left:-3px;
}
.top_contact_fb:before {
    content: '\f09a';
    font-family: FontAwesome;
    color: #b62323;
    margin-right: 5px;
}
header:before {
    content: '';
    position: absolute;
    display: block !important;
    z-index: -10;
    background: #eaeaea url(../images/clip.png) repeat-x;
    left: -30%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 105px;
    width: 150%;
}
header{
    height: 201px;

}
#logo{
    padding-top:22px;
    padding-left: 89px;
}
#top_search_box {
    position: relative;
    left: -3px;
    top: 18px;
    height: 39px;
}
#top_search_box input {
    height: 5px;
    width: 227px;
    padding: 18px;
    font-size: 10px;
    border-color: transparent;
}
#search_button {
    position: relative;
    left: 228px;
    top: -39px;
}
#search_button button {
    border: 0;
    height: 39px;
    width: 37px;
    background: #333333;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
}

.settings_menu{
    position: relative;
    margin-top: -21px;
    left: -26px;
    padding-left: 0;
}
.language_select{
    position: inherit;
}
.open_trigger > img{
    position: relative;
    top: -3px;
    margin-left: -6px;
}
#your_account {
    position: relative;
    top: 27px;
    left: 75px;
    height: 100px;
    width: 200px;
    text-transform: uppercase;
    font-size: 10px;
}
.basket{
    right: -161px;
    top: -103px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 8px;
    font-family: 'Montserrat';
    font-weight: normal;
    width: 148px;

}
.basket > a{
    display: inline-block;
    color: #fff;
    padding: 23px 0 0 11px;
    width: 188px;
    text-decoration: none;
}
.basket b {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}
.basket strong{
    display: block;
    font-size: 1.75em;
    text-decoration: none;


}
.basket > a:before {
    content: ' ';
    background: url(../images/basket-gfx.png) no-repeat;
    width: 38px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    margin: -8px 3px 0 0;
    float: left;
}
.basket:before {
    background: url(../images/bg_badge.png) no-repeat bottom center;
    position: absolute;
    content: '';
    width: 100%;
    right: 0;
    height: 200px;
    z-index: -1;
    top: -106px;
}
.current_language{
    font-family: 'Montserrat';
    font-weight:bold;
    font-size: 10px;
    text-decoration: none;
    margin-top:5px;
}
.current_language:after {
    content: url(../images/pol.png);
    position: relative;
    top: 3px;
    left:2px;
    margin-right: 5px;
}
.settings_menu .open_trigger {
    position: relative;
    top: 47px;
    width: 61px;
    height: 25px;
    cursor: pointer;
    border-right: 1px solid #808080b5;
}
[class^='icon-'], [class*=' icon-'] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}
#your_account{
    font-weight:bold;

}

header #menu_categories {
    padding: 10px 0;
    clear: both;
    font-weight: bold;
    font-size: 10px;
    height: 60px;
    display: flex;
    position: relative;
    top: -94px;
    left: 74px;
    font-family: 'Montserrat',sans-serif;
    align-items: center;
    color: #2e2e2e;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
header #menu_categories:before{
    content:'';
    position:absolute;
    display:block;
    z-index:-10;
    background:#fff;
    left:-100%;
    right:-100%;
    top:0;
    bottom:0;
    height:100%;
    width:300%;
}
header .navbar-collapse{clear:both;left: 143px;top: -4px;}
header .navbar-nav{display:inline-block;flex-wrap:wrap; list-style:none;position:relative;align-items:center}
header .navbar-subnav{display:none;width:200px;font-size:0.9em;z-index:100;list-style:none;position:absolute;background:#ffffff;box-shadow:0 2px 0 0 rgba(0,0,0,0) ;left:0;padding:5px;width:100%;min-width:200px}
header .navbar-subsubnav{background:#ffffff;border:1px solid #c4c7c8;font-size:0.9em;box-shadow:0 2px 0 0 rgba(0,0,0,0) ;display:none;top:0;left:93%;list-style:none;padding:5px;position:absolute;width:200px;z-index:100}
header .isOverflow .navbar-subnav{left:auto;right:0}
header .isOverflow .navbar-subsubnav{left:auto;right:93%}
header .nav-item{position:relative}
header .nav-link.active{color:#b62323}
header a.nav-link:hover{color:#b62323}
header .navbar-subnav > .nav-item > .nav-link{padding:5px}
header .navbar-subsubnav > .nav-item > .nav-link{padding:5px}
header .nav-link:not(:only-child)::after{font-family:FontAwesome;margin-left:5px;font-size:11px;color:#333333}
header .navbar-nav > .nav-item > .nav-link:not(:only-child)::after{content:'\F107'}
header .navbar-subnav > .nav-item > .nav-link:not(:only-child)::after{content:'\F105';margin-top:1px;position:absolute;right:2px}
header .navbar-nav li:hover > ul{display:block}
header .navbar-nav ul.active{display:block}
header .navbar-nav > li{display:inline-block}
header .nav-link{color:#333333;display:block;padding:15px 10px}
.navbar-nav > .nav-item > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.navbar-nav > .nav-item > a:hover {
    border-bottom: 2px solid #b62323;
}
.navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}



.navigator:before {
    content: '';
    width: 100vw;
    position: absolute;
    margin-left: -50vw;
    top: 0px;
    left: 50%;
    height: 27px;
    z-index: -1;
    background: #eaeaea url(../images/navibar.png) repeat-x center;
}



.navigator{
    display: table;
    margin: 0 auto;
    height: 27px;
    width: 100%;
    position: relative;
    top: -100px;
    font-size: 9px;
    letter-spacing: 0.4px;
    z-index: -1;
}
.navigator > strong{
    position: inherit;
    width: inherit;
    letter-spacing: inherit;
}
#navi_content{
    position: absolute;
    left: 75px;
    top: 6px;
    width: 500px;
}
#footer_links {
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.footer_links_label {
    display: block;
    padding-bottom: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2px;
}
ul.footer_links_sub {
    list-style: none;
    line-height: 2;
    font-size: 0.7em;
    text-align: inherit;
    margin-bottom: 20px;
    padding-left: 0;
}
ul.footer_links {
    list-style: none;
    margin-bottom: 30px;
    flex-basis: auto;
    padding-left: 35px;
    border-right: 1px solid #333;
}
.footer_links a{
    color:#6c757d;
}
ul#menu_my-orders{
    border: none;
}
div.copyright_container{
    margin: -50px auto;
    z-index: 1;
}
div.copyright_logo{
    margin: 0 auto;
    width: 970px;
    padding: 20px 0;
    text-align: center;
}
img.idosell_logo{
    display: inline !important;
}

footer {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    margin-top: 23px;
    background: #171717 url(../images/bg-footer.png) repeat-x center top;
    padding-top: 15%;
    background-size: contain;
}
.social_button_wrapper {
    display: inline;
    margin-right: 20px;
    transition: transform .5s;
}
.social_button_wrapper :hover{
    transform: scale(1.1);
}

#social_buttons{
    position: relative;
    left: -14px;
    widht:10%;
    height:auto;
}
ul.footer_links_sub img{
    margin-right: 10px;
}
a.contact{
    font-size: 1.5em;
}
li.contact_type_phone a{
    color: #FFF;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -0.5px;
}
li.contact_type_mail a{
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.3px;
}
li.contact_type_phone{
    margin:0;
    position: relative;
    top: -15px;
    left: -15px;

}
li.contact_type_mail{
    margin:0;
    position: relative;
    top: -30px;
    left: -13px;
}
ul.footer_links li{
    width: 100%;
}
#contact_down{
    height:36px;
}
#layout {
    margin: 0 auto 30px;
}
#product_projector {
    margin: 0;
    font-size: 0.93em;
    margin-bottom: 30px;
}
#projector_form div.photos {
    padding-left: 0;
}
#projector_form div.product_info {
    padding-right: 0;
    font-size: 0.93em;
    padding-left: 0;
}
#product_projector h1 {
    width: 250px;
}
.brand {
    color: #b62323;
    font-weight: bold;
}
.product_section_sub div {
    display:inline-block;
    border: 2px none;
    width:55px;
    height:55px;
    margin-right:10px;
}
.product_section_sub div:hover {
    border-bottom: 2px solid #b62323;
}
.product_section_sub img{
    border: 0.2px solid rgba(147, 147, 147, 0.2);
}
.product_section{
    font-size: 10px;
}
.barrel_config_length{
    display:inline-block;
    margin-right:10px;
    width: 190px;
}
.barrel_config_cal{
    display:inline-block;
    width: 190px;
}
.barrel_config_length select{
    width: 190px;
    height:35px;
    font-weight: bold;
}
.barrel_config_cal select{
    width: 190px;
    height:35px;
    font-weight: bold;
}
.parameters{
    text-transform: uppercase;
}
.product_info_top div{
    display:inline-block;
}
.product_info_top{
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 15px;
}
.brand{
    text-transform: capitalize;
}
.product_section_sub{
    padding-bottom: 15px;
}
.photos{
    padding-left:0;
}
.product_info{
    padding-left:0;
    padding-right:0;
}
.bundle_projector_sub div{
    display: inline-block;
    margin-left: 40px;

}
.bundle_projector_sub div img{
    transition: transform .2s;
}
.bundle_projector_sub div img :hover{
    transform: scale(1.1);
}
.bundle_element_1{
    border-right: 1px solid rgba(51, 51, 51, 0.51);
}
.bundle_element_2{
    border-right: 1px solid rgba(51, 51, 51, 0.51);
}

#content h1{
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    line-height: 1.1em;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 13px;
    height: 20px;
}
.product_section_sub img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.label{
    text-align:left;
    margin-left: 55px;
}
.label:before {
    content: '';
    background: transparent url(../images/bg-labels-before.png) no-repeat 0 0;
    height: 23px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
    flex-shrink: 0;
    vertical-align: middle;
}
.bundle_projector{
    position: relative;
    left: 57px;
    margin-bottom: 40px;
}

.bundle_projector_sub span{
    font-size: 11px;
    text-transform: uppercase;
}
.text1 {
    width: 150px !important;
    flex: none;

}
.text2{
    width: 150px !important;
    flex: none;
}
.text3{
    width: 150px !important;
    flex: none;
}
.hint{
    display: inline-block;
    width: 49%;
    margin: 0 auto;
}
.expert_hints_img{
    width: 180px;
    height: 150px;
    overflow: hidden;
    float: left;
}
.expert_hints_text{
    width: 240px;
    height: 150px;
    float: left;
    font-size: 11px;
    padding-left: 20px;
    overflow: auto;
    padding-top: 10px;
}
.expert_hints_text span{
    vertical-align: middle;
}
.expert_hints_header{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}
.product_description{

}
.expert_hints{
    margin-left: 55px;
}
.product_description_container{
    margin-left: 55px;
}
.product_description_content span{
    font-size: 11px;
}
.product_description_content ul{
    list-style: none;
    font-size: 11px;
}
.product_description_content{
    width:601px;
    margin-bottom: 40px;
}
.product_description_content a{
    text-decoration: none;
    color: #000;
}
.sidebar_menu_content{
    width: 230px;
    height: 570px;
}
.sidebar_menu_content_top{
    height: 120px;
    width:100%;
}
.sidebar_menu_content_top:before{
    content: '';
    position: absolute;
    display: block !important;
    z-index: -10;
    background: #eaeaea url(../images/maintenance-services.png) repeat-x;
    background-size: contain;
    left: 15px;
    right: 0;
    top: 0;
    bottom: 0;
    height: 120px;
    width: 230px;
}
.sidebar_menu_content_bottom{
    height: 310px;
    width:100%;
    background-color: #FFFFFF;
}
.sidebar_menu_content_bottom:before{
    content: '';
    position: absolute;
    display: block !important;
    z-index: -10;
    background: #ffffff url(../images/sidebar_splat.png) repeat-x;
    left: -53px;
    right: 0;
    top: 168px;
    bottom: 0;
    background-size: contain;
    width: 118%;
    height: auto;
}

.sidebar_menu_content_bottom span{
    font-size: 10px;
    display: inline-block;
    margin-bottom: 3px;
}
.sidebar_menu_content_bottom strong{
    font-size: 11px;
    display: block;
    position: relative;
    top: -3px;
}
.sidebar_menu_content_top_text{
    position: relative;
    right: 10px;
    top:20px;
    float: right;
    width:150px;
    height: 50px;
}
.sidebar_menu_content_top_text span{
    color: #FFFFFF;
    text-align: justify;
    display: block;
}
#top{
    display: block;
    font-size:13px;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
}
#mid{
    font-size:10px;
    width: 150px;
    height: 20px;
    text-align: center;
}
#bot{
    font-size:13px;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    height: 20px;
    text-align: center;
    letter-spacing: 1px;
}
.sidebar_menu_content_bottom_text{
    position: relative;
    top:30px;
    left: 20px;
}
.sidebar_menu_content_top button{
    display: block;
    position: relative;
    top: 35px;
    left: 92px;
    background: none;
    color: #FFFFFF;
    border-color: #FFFFFF;
    height: 20px;
    width: 110px;
    font-size: 10px;
}
.product_question{
    display: block;
    font-size: 12px !important;
    width:510px;
    height: 20px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}
.product_answer{
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    font-size: 9px !important;
    width:500px;
}
.product_question i{
    float: right;
    color: #333;
    margin-left: auto;
}
.product_answer{
    padding: 0 18px;
    margin-bottom: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.active, .product_question_container{
    border-bottom: none;
}
.btn-large {
    background: #b62323 url(../images/bg-buttons.png) repeat center center;
    border: 0;
    color: #fff !important;
    text-decoration: none;
    font-size: 0.7em;
    padding: 10px 20px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    width: 175px;
    height: 35px;
    position: relative;
    top: -35px;
    left: 210px;
    transition: transform .2s;
}
.btn-large:hover{
    transform: scale(1.1);
}
.send_question_label h6{
    width: 200px;

}
.send_question_button_wrapper{
    padding-top: 20px;
}
.main_photo{
    padding-left: 10px;
    display: inline-block;
    align-items: center;
    width: 75%;
    height: 460px;
}
.photos_selector_sub{
    width: 60px;
    float: left;
    margin-left: 60px;
    margin-top: -15px;
}
.photos_selector_sub div {
    margin-bottom: 10px;
    display: block;
    width: 60px;
    height: 60px;
}
.photos_selector_sub > div:hover{
    border-bottom: 2px solid #b62323;
}
.photos_selector_sub img{
    display: inline-block;
    float: left;
    border: 0.2px solid rgba(147, 147, 147, 0.2);
}
.photo{
    display: inline-block;
}
.photos_selector_sub i{
    transform: scale(2);
    transition: scale .5s;
    padding: 15px 25px;
    width:10px;
}
.photos_selector_sub i:hover{
    transform: scale(2.5);
}
.warehouse_status{
    margin-top:10px;
    margin-bottom: 10px;
    width: 90%;
    height: 35px;
}
.warehouse_status div{
    float: left;
    display: inline-block;
}
.warehouse_state{
    height:100%;
    width:50%;
    background-color: skyblue;
}
.info span{
    display: block;

}
.shipping_cost{
    height:100%;
    width:50%;
    background-color: saddlebrown;
}

.price_tag{
    width: 90%;
    height:50px;
    margin-bottom: 10px;
}
.price_tag div{
    float: left;
    display: inline-block;
}
.actual_price{
    width: 40%;
    height: 100%;
    background-color: red;
}
.quantity{
    width: 20%;
    height: 100%;
    border: 0.2px solid rgba(135, 135, 135, 0.25);
    background-color: green;
}
.add_to_cart{
    width: 40%;
    height: 100%;
    background-color: blue;
}

.price_negotiate{
    width: 90%;
    height:35px;

}
.price_negotiate div{
    float: left;
    display: inline-block;
}
.price_negotiate_sub{
    height:100%;
    width:50%;
    background-color: yellowgreen;
}
.compare{
    height:100%;
    width:50%;
    background-color: pink;

}

.bottom_info_menu{
    margin: 0;
    margin-top:10px;
    border: 0.2px solid rgba(147, 147, 147, 0.2);
    width: 90%;
    height:115px;

}
.bottom_info_menu:before {
    content: '';
    display: block;
    position: absolute;
    right: 25px;
    top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 12px 14px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 1;
}
.bottom_info_menu div{
    float:left;
    display: inline-block;
}
.free_shiping{
    width:50%;
    height:50%;
    background-color: red;
}
.goods_return{
    width:50%;
    height:50%;
    background-color: grey;
}
.installments{
    width:50%;
    height:50%;
    background-color: green;
}
.warranty{
    width:50%;
    height:50%;
    background-color: blue;
}
.info span{
    width:100%;
    vertical-align: middle;
}
.info img{
    transform: scale(0.8);
}
