@font-face {
    font-family: 'FontAwesome';
    src: url('https://assassins-arms.com/gfx/pol/fontello.eot?r=1563359320');
    src: url('https://assassins-arms.com/gfx/pol/fontello.eot#iefix') format('embedded-opentype'), url('https://assassins-arms.com/gfx/pol/fontello.woff?r=1563359320') format('woff'), url('https://assassins-arms.com/gfx/pol/fontello.ttf?r=1563359320') format('truetype'), url('https://assassins-arms.com/gfx/pol/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
div.top_contact_bar {
    display: table;
    margin: 0 auto;
    height: 29px;
    width: 100%;
    position: relative;
}
.top_contact_data {
    display: table;
    text-align: left;
    vertical-align: middle;
    margin-left: 65px;
    margin-top: -2px;
}
.top_contact_data a{
    margin-right: 25px;
    margin-left: 8px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 9px;
    text-decoration: none;
}

.top_contact_bar:before{
    content: '';
    position: absolute;
    display: block;
    z-index: -5;
    background: #2e2e2e;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 300%;
}
.top_contact_phone{
    margin-right:2px;
}
.top_contact_phone:before{
    content: '\E819';
    font-family: FontAwesome;
    color: #b62323;
    margin-right: 5px;
}
.top_contact_mail{
    margin-right:2px;
}
.top_contact_mail:before {
    content: '\e816';
    font-family: FontAwesome;
    color: #b62323;
    margin-right: 5px;
}
.top_contact_fb{
    margin-left:-3px;
}
.top_contact_fb:before {
    content: '\f09a';
    font-family: FontAwesome;
    color: #b62323;
    margin-right: 5px;
}
header:before {
    content: '';
    position: absolute;
    display: block !important;
    z-index: -10;
    background: #eaeaea url(../images/clip.png) repeat-x;
    left: -30%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 105px;
    width: 150%;
}
#logo{
    padding-top:22px;
    padding-left: 89px;
}
#top_search_box {
    position: relative;
    left: -3px;
    top: 18px;
    height: 39px;
}
#top_search_box input {
    height: 5px;
    width: 227px;
    padding: 18px;
    font-size: 10px;
    border-color: transparent;
}
#search_button {
    position: relative;
    left: 228px;
    top: -39px;
}
#search_button button {
    border: 0;
    height: 39px;
    width: 37px;
    background: #333333;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
}

.settings_menu{
    position: relative;
    margin-top: -21px;
    left: -26px;
    padding-left: 0;
}
.language_select{
    position: inherit;
}
.open_trigger > img{
    position: relative;
    top: -3px;
    margin-left: -6px;
}
#your_account {
    position: relative;
    top: 27px;
    left: 75px;
    height: 100px;
    width: 200px;
    text-transform: uppercase;
    font-size: 10px;
}
.basket{
    right: -161px;
    top: -103px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 8px;
    font-family: 'Montserrat';
    font-weight: normal;
    width: 148px;
}
.basket > a{
    display: inline-block;
    color: #fff;
    padding: 23px 0 0 11px;
    width: 188px;
}
.basket b {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
}
.basket strong{
    display: block;
    font-size: 1.75em;


}
.basket > a:before {
    content: ' ';
    background: url(../images/basket-gfx.png) no-repeat;
    width: 38px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    margin: -8px 3px 0 0;
    float: left;
}
.basket:before {
    background: url(../images/bg_badge.png) no-repeat bottom center;
    position: absolute;
    content: '';
    width: 100%;
    right: 0;
    height: 200px;
    z-index: -1;
    top: -106px;
}
.current_language{
    font-family: 'Montserrat';
    font-weight:bold;
    font-size: 10px;
    text-decoration: none;
    margin-top:5px;
}
.current_language:after {
    content: url(../images/pol.png);
    position: relative;
    top: 3px;
    left:2px;
    margin-right: 5px;
}
.settings_menu .open_trigger {
    position: relative;
    top: 47px;
    width: 61px;
    height: 25px;
    cursor: pointer;
    border-right: 1px solid #808080b5;
}
[class^='icon-'], [class*=' icon-'] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}
#your_account{
    font-weight:bold;
}

header #menu_categories {
    padding: 10px 0;
    clear: both;
    font-weight: bold;
    font-size: 10px;
    height: 60px;
    display: flex;
    position: relative;
    top: -94px;
    left: 74px;
    font-family: 'Montserrat',sans-serif;
    align-items: center;
    color: #2e2e2e;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
header #menu_categories:before{
    content:'';
    position:absolute;
    display:block;
    z-index:-10;
    background:#fff;
    left:-100%;
    right:-100%;
    top:0;
    bottom:0;
    height:100%;
    width:300%;
}
header .navbar-collapse{clear:both;left: 143px;top: -4px;}
header .navbar-nav{display:inline-block;flex-wrap:wrap; list-style:none;position:relative;align-items:center}
header .navbar-subnav{display:none;width:200px;font-size:0.9em;z-index:100;list-style:none;position:absolute;background:#ffffff;box-shadow:0 2px 0 0 rgba(0,0,0,0) ;left:0;padding:5px;width:100%;min-width:200px}
header .navbar-subsubnav{background:#ffffff;border:1px solid #c4c7c8;font-size:0.9em;box-shadow:0 2px 0 0 rgba(0,0,0,0) ;display:none;top:0;left:93%;list-style:none;padding:5px;position:absolute;width:200px;z-index:100}
header .isOverflow .navbar-subnav{left:auto;right:0}
header .isOverflow .navbar-subsubnav{left:auto;right:93%}
header .nav-item{position:relative}
header .nav-link.active{color:#b62323}
header a.nav-link:hover{color:#b62323}
header .navbar-subnav > .nav-item > .nav-link{padding:5px}
header .navbar-subsubnav > .nav-item > .nav-link{padding:5px}
header .nav-link:not(:only-child)::after{font-family:FontAwesome;margin-left:5px;font-size:11px;color:#333333}
header .navbar-nav > .nav-item > .nav-link:not(:only-child)::after{content:'\F107'}
header .navbar-subnav > .nav-item > .nav-link:not(:only-child)::after{content:'\F105';margin-top:1px;position:absolute;right:2px}
header .navbar-nav li:hover > ul{display:block}
header .navbar-nav ul.active{display:block}
header .navbar-nav > li{display:inline-block}
header .nav-link{color:#333333;display:block;padding:15px 10px}
.navbar-nav > .nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.navbar-nav > .nav-item > a:hover {
    border-bottom: 2px solid #b62323;
}
.navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}



.navigator:before {
    content: '';
    width: 100vw;
    position: absolute;
    margin-left: -50vw;
    top: -8px;
    left: 233%;
    height: 27px;
    z-index: -1;
    background: #eaeaea url(../images/navibar.png) repeat-x center;
}
.navigator{
    position: absolute;
    display: inline;
    top: 161px;
    left: -45px;
    width: 23%;
    font-size: 9px;
    letter-spacing: 0.4px;
    z-index: -1;
}
.navigator > strong{
    position: inherit;
    width: inherit;
    letter-spacing: inherit;
}
#navi_content{
    position: absolute;
    left: 339px;
    top: -1px;
    width: 500px;
}
#footer_links {
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.footer_links_label {
    display: block;
    padding-bottom: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2px;
}
ul.footer_links_sub {
    list-style: none;
    line-height: 2;
    font-size: 0.7em;
    text-align: inherit;
    margin-bottom: 20px;
    padding-left: 0;
}
ul.footer_links {
    list-style: none;
    margin-bottom: 30px;
    flex-basis: auto;
    padding-left: 35px;
    border-right: 1px solid #333;
}
.footer_links a{
    color:#6c757d;
}
ul#menu_my-orders{
    border: none;
}
div.copyright_container{
    margin: -50px auto;
    z-index: 1;
}
div.copyright_logo{
    margin: 0 auto;
    width: 970px;
    padding: 20px 0;
    text-align: center;
}
img.idosell_logo{
    display: inline !important;
}

footer {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    margin-top: 23px;
    background: #171717 url(../images/bg-footer.png) repeat-x center top;
    padding-top: 15%;
    background-size: contain;
}
.social_button_wrapper{
    display: inline;
    margin-right: 20px;
}
#social_buttons{
    position: relative;
    left: -14px;
    widht:10%
    height:auto;
}
ul.footer_links_sub img{
    margin-right: 10px;
}
a.contact{
    font-size: 1.5em;
}
li.contact_type_phone a{
    color: #FFF;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -0.5px;
}
li.contact_type_mail a{
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.3px;
}
li.contact_type_phone{
    margin:0;
    position: relative;
    top: -15px;
    left: -15px;

}
li.contact_type_mail{
    margin:0;
    position: relative;
    top: -30px;
    left: -13px;
}
ul.footer_links li{
    width: 100%;
}
#contact_down{
    height:36px;
}
